<div class="page">
    <app-vertical-navigation></app-vertical-navigation>
    <div class="page-content">
        <h1 class="title-page">Paiement</h1>
        <div>
            <div>
                <p>Montant total</p>
                <p></p>
            </div>
            <div>
                <p>Date d'échéance</p>
                <p></p>
            </div>
            <div>
                <p>Statut général</p>
                <p></p>
            </div>
        </div>
        <div>
            
        </div>
    </div>
</div>